signal_survival
tokenizer.json
tokenizer_config.json
distilled_core/
distilled_tensor.bin
*.o
chat
engine
smart_distiller
batch_distiller
batch_distiller_simd
temp/
ppl_ckpt_*.bin
u2_basis_*.npy
u2_evals_*.npy
acts_*.bin
acts_combined.bin
QUEUE_DONE
CONTROLS_DONE
ACTDUMP_DONE
EPS40_DONE
HYST_DONE
engine_weights/
forge
ppl_stack_actdump
*_DONE
*.log
bench_gpu
bench_gpu[0-9]
route_*.bin
acts_*.bin
*.npy
chat_v4
chat_v4_out.txt
tok_test
